<template>
  <h1 class="font-weight-light ma-2">Всего: {{ appStore.getProducts.length }}</h1>
</template>

<script setup>

import {useAppStore} from "@/store/app";

const appStore = useAppStore()

</script>

<style scoped>

</style>
