<template>
  <v-list>
    <counter-products />
    <product-card
      @delete="deleteProduct"
      :color="props.color"
      v-for="product in props.products"
      :key="product.id"
    :product="product" />
  </v-list>
</template>

<script setup>
import ProductCard from "@/components/products/ProductCard";
import CounterProducts from "@/components/products/CounterProducts";

const props = defineProps({
  color: String,
  products: {
    type: Array,
    required: true
  }
})

const emits = defineEmits(['delete'])

function deleteProduct(product) {
  emits('delete', product)
}


</script>

<style scoped>

</style>
