<template>
  <v-card
    @dragstart="startDrag"
    draggable="true"
    v-if="!editMode"
    class="ma-4"
    :color="props.color">
    <!--Карточка с данными-->
    <v-card-text class="text-h6">{{ props.product.title }}</v-card-text>
    <v-card-text class="font-weight-bold">Price: {{ props.product.price }}$</v-card-text>
    <v-card-text>{{ props.product.description }}</v-card-text>
    <v-card-text class="font-weight-black">Category: {{ props.product.category }}</v-card-text>
    <v-card-text class="font-weight-black">List: {{ props.product.list }}</v-card-text>
    <v-img max-height="200" :src="props.product.image"></v-img>
    <v-card-text class="font-weight-black">Rate: {{ props.product.rating.rate }}</v-card-text>
    <v-card-text class="font-weight-black">Count: {{ props.product.rating.count }}</v-card-text>

    <!--Кнопки-->
    <v-card-actions class="justify-space-around">
      <v-btn variant="elevated" color="red" @click="deleteProduct">Delete</v-btn>
      <v-btn variant="elevated" color="green" @click="openEditMode">Edit</v-btn>
    </v-card-actions>
  </v-card>

    <!-- Поля для редактирования данных поста -->
    <v-form class="ma-4" v-else @submit.prevent="saveProduct">
      <v-text-field label="Title" v-model="editedProduct.title" />
      <v-text-field label="Price" v-model="editedProduct.price" />
      <v-text-field label="Description" v-model="editedProduct.description" />
      <v-text-field label="Category" v-model="editedProduct.category" />
      <v-text-field label="Rate" v-model="editedProduct.rating.rate" />
      <v-text-field label="Count" v-model="editedProduct.rating.count" />
      <input type="file" @change="handleImageUpload" />

      <!--Кнопки формы-->
      <v-card-actions class="justify-space-around">
        <v-btn variant="elevated" color="blue" @click="saveProduct">Save</v-btn>
        <v-btn variant="elevated" color="red" @click="cancelEdit">Cancel</v-btn>
      </v-card-actions>
    </v-form>
</template>

<script setup>
import {ref} from "vue";

const props = defineProps({
  color: String,
  product: {
    type: Object,
    required: true
  }
})

const emits = defineEmits(['delete'])
const editMode = ref(false)
const editedProduct = ref(null);

const startDrag = (event, product) => {
  event.dataTransfer.dropEffect = 'move';
  event.dataTransfer.effectAllowed = 'move';
  event.dataTransfer.setData('productID', product.id);
};

function openEditMode() {
  editMode.value = true;
  editedProduct.value = { ...props.product }; // Клонируем объект для редактирования
}

function cancelEdit() {
  editMode.value = false;
  editedProduct.value = null;
}

function saveProduct() {
  props.product.title = editedProduct.value.title;
  props.product.price = editedProduct.value.price;
  props.product.description = editedProduct.value.description;
  props.product.category = editedProduct.value.category;
  props.product.rating.rate = editedProduct.value.rating.rate;
  props.product.rating.count = editedProduct.value.rating.count;
  editMode.value = false;
  editedProduct.value = null;
}

function deleteProduct() {
  emits('delete', props.product)
}

</script>

<style scoped>

</style>
