<template>
  <v-btn @click="visibleForm" color="blue" class="ma-4">Create product</v-btn>
  <v-form v-if="visionForm" @submit.prevent="createProduct" class="text-center">
    <custom-text-field label="Title" v-model.trim="title" :rules="[rules.required]" />
    <custom-text-field label="Description" v-model.trim="description" :rules="[rules.required]" />
    <custom-text-field label="Price" v-model.trim="price" :rules="[rules.required]" />
    <custom-text-field label="Category" v-model.trim="category" :rules="[rules.required]" />
    <custom-text-field label="Rating" v-model.trim="rating.rate" :rules="[rules.required]" />
    <custom-text-field label="Count" v-model.trim="rating.count" :rules="[rules.required]" />
    <v-file-input type="file" @change="handleImageUpload" :rules="[rules.required]" />
    <v-btn type="submit" color="red">Submit</v-btn>
  </v-form>
</template>

<script setup>
import CustomTextField from "@/components/UI/CustomTextField";
import { ref } from "vue";
import { useAppStore } from "@/store/app";

const appStore = useAppStore();
const visionForm = ref(false)
function visibleForm() {
  visionForm.value = !visionForm.value
}

const title = ref(null);
const price = ref(null);
const description = ref(null);
const category = ref(null);
const image = ref(null);
const rating = ref({
  rate: null,
  count: null,
});
const rules = { required: value => !!value || 'Field is required' };

function handleImageUpload(event) {
  const selectedImage = event.target.files[0];
  if (selectedImage) {
    const reader = new FileReader();
    reader.onload = () => {
      image.value = reader.result;
    };
    reader.readAsDataURL(selectedImage);
  }
}

function createProduct() {
  // Проверка на заполнение всех полей
  if (
    title.value !== null &&
    price.value !== null &&
    description.value !== null &&
    category.value !== null &&
    image.value !== null &&
    rating.value.rate !== null &&
    rating.value.count !== null
  ) {
    const newProduct = {
      id: Date.now(),
      title: title.value,
      price: price.value,
      description: description.value,
      category: category.value,
      image: image.value,
      rating: {
        rate: rating.value.rate,
        count: rating.value.count
      },
    };
    visibleForm()
    appStore.createProduct(newProduct);

    // Сброс значений полей после создания продукта
    title.value = null;
    price.value = null;
    description.value = null;
    category.value = null;
    image.value = null;
    rating.value.rate = null;
    rating.value.count = null;
  }
}
</script>
