<template>
  <v-app>
    <v-main>
      <v-container>
        <!--Форма создания продукта-->
        <v-row justify="center">
          <v-col cols="12" md="6" class="text-center">

          <!--Сортировка по рейтингу-->
          <v-btn color="red" @click="appStore.sortProductsByRating">sort</v-btn>

            <product-create-form />
          </v-col>
          <!--Списки продуктов-->
        </v-row>
        <v-row justify="space-around">
          <v-col cols="12" md="3">
            <product-list
              @drop="onDrop($event, 1)"
              @delete="deleteProduct"
              color="white"
              :products="appStore.getProducts" />
          </v-col>

          <!--Списки Drag & Drop-->
          <v-list
            class="mb-4"
            @drop="onDrop($event, 1)"
            @dragenter.prevent
            @dragover.prevent>
            <h2 class="font-weight-light">В разработке</h2>
            <v-card
              v-for="item in getList(1)"
              :key="item.id"
              @dragstart="startDrag($event, item)"
              draggable="true"
              max-width="400"
              color="green"
              class="ma-4">
              <v-card-title>{{ item.title }}</v-card-title>
            </v-card>
          </v-list>

          <v-list
            @drop="onDrop($event, 2)"
            @dragenter.prevent
            @dragover.prevent>
            <h2 class="font-weight-light">Завершено</h2>
            <v-card
              v-for="item in getList(2)"
              :key="item.id"
              @dragstart="startDrag($event, item)"
              draggable="true"
              max-width="400"
              color="purple"
              class="ma-4">
              <v-card-title>{{ item.title }}</v-card-title>
            </v-card>
          </v-list>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script setup>
import { useAppStore } from "@/store/app";
import { onMounted } from "vue";
import ProductList from "@/components/products/ProductList";
import ProductCreateForm from "@/components/products/ProductCreateForm";

const appStore = useAppStore()

function deleteProduct(product) {
  appStore.deleteProduct(product)
}

const getList = (list) => {
  return appStore.products.filter((item) => item.list === list);
};

const startDrag = (event, item) => {
  event.dataTransfer.dropEffect = 'move';
  event.dataTransfer.effectAllowed = 'move';
  event.dataTransfer.setData('itemID', item.id);
};

const onDrop = (event, list) => {
  const itemID = event.dataTransfer.getData('itemID');
  const item = appStore.products.find(item => item.id === Number(itemID));
  item.list = list;
};

const fetchData = async () => {
  await appStore.fetchProducts()
}
onMounted(fetchData);

</script>
