<template>
  <v-text-field
    @update:modelValue="updateValue"
    :rules="rules"
    v-model="modelValue"
    counter
    clearable
    variant="underlined"
    :label="label"
  />
</template>

<script setup>
import { ref } from "vue";

const { rules, value, label } = defineProps(["rules", "value", "label"]);
const modelValue = ref(value);

const emit = defineEmits(["update:value"]);

const updateValue = (newValue) => {
  modelValue.value = newValue;
  emit("update:value", newValue);
};
</script>

<style scoped>
</style>
